<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Responsable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="Shortcut Icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <script src="{{ url_for('static', filename='js/sweet-alert.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweet-alert.css') }}"> <!-- "{{ url_for('static', filename=' ... ') }}" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>  <!-- Scroll -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>   
</head>
<body>
<!-- BARRA LATERAL -->
<div class="navbar-lateral full-reset">
    <div class="visible-xs font-movile-menu mobile-menu-button"></div>
    <!--<div class="full-reset container-menu-movile nav-lateral-scroll">-->
    <div class="full-reset container-menu-movile nav-lateral-scroll">    
        <div>
       <!-- <div class="full-reset" style="padding: 20px 0; color:#fff;">-->
            <figure>
                <img src="{{ url_for('static', filename='/img/logo.jpeg') }}" alt="Logo" class="img-responsive center-box" id="loguito" style="width:55%;">
            </figure>
        </div>
        <div></div>
        <div class="full-reset nav-lateral-list-menu">
            <ul class="list-unstyled">
                <li><a href="{{ url_for('home') }}"><i><img src="{{ url_for('static', filename='img/home.png') }}"></i>&nbsp;&nbsp; Inicio</a></li>
                <li><a href="{{ url_for('registrar_repuesto') }}"><i><img src="{{ url_for('static', filename='img/agregaruser.png') }}"></i>&nbsp;&nbsp; Repuesto</a></li><li>
                <li><a href="{{ url_for('entrada_repuesto') }}"><i><img src="{{ url_for('static', filename='img/entradaR.png') }}"></i>&nbsp;&nbsp; Entrada</a></li><li>
                <li><a href="{{ url_for('salida_repuesto') }}"><i><img src="{{ url_for('static', filename='img/salidaR.png') }}"></i>&nbsp;&nbsp; Salida</a></li><li>
                <li><a href="{{ url_for('mostrar_inventario') }}"><i><img src="{{ url_for('static', filename='img/caja.png') }}"></i>&nbsp;&nbsp; Inventario</a></li>
                <li><a href="{{ url_for('registrar_proveedor') }}"><i><img src="{{ url_for('static', filename='img/edificio.png') }}"></i>&nbsp;&nbsp; Proveedores</a></li>
                <li><a href="{{ url_for('registrar_responsable') }}"><i><img src="{{ url_for('static', filename='img/responsable.png') }}"></i>&nbsp;&nbsp; Responsables</a></li>
                <li><a href="{{ url_for('logout') }}"><i><img src="{{ url_for('static', filename='img/exiti.png') }}"></i>&nbsp;&nbsp; Salir</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- FIN BARRA LATERAL -->
        <!-- PARTE DE ARRIBA -->
        <div class="content-page-container full-reset custom-scroll-containers"> 
            <nav class="navbar-user-top full-reset">
                <ul class="list-unstyled full-reset">
                    <figure>
                        <img src="{{ url_for('static', filename='/img/usuario.png') }}" alt="user-picture" class="img-responsive img-circle center-box">
                    </figure>
                    <li style="color:#fff; cursor:default;">
                        <span class="all-tittles">{{ current_user.fullname }}</span>
                    </li>
                    <li class="mobile-menu-button visible-xs" style="float: left !important;">
                        <i><img src="{{ url_for('static', filename='/img/home.png') }}"></i>
                    </li>
                    <li class="desktop-menu-button hidden-xs" style="float: left !important;">
                        <i><img src="{{ url_for('static', filename='/img/menu.png') }}"></i>
                    </li>
                </ul>
            </nav>
        <!-- FIN PARTE DE ARRIBA -->   
        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Sistema de Control <small>/ Editar Responsables</small></h1>
            </div>
        </div>

<!-- CENTRO DE PÁGINA -->
<form action="{{ url_for('update_responsable', id=responsable.0)}}" method="post" enctype="multipart/form-data" class="form-padding">
    <div class="row"> 
        

                <div id="codigo_editar_responsable" class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" name="codigo_responsable" class="material-control tooltips-general" placeholder="Código del Responsable" title="Máximo 4 caracteres" maxlength="4" value = "{{ responsable.1 }}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Código del Responsable</label>
                    </div>
                </div>

                <div id="nombre_editar_responsable" class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" name="nombres_responsable" class="material-control tooltips-general" placeholder="Nombre del Responsable" title="Escribe el nombre del Responsable" value = "{{ responsable.2 }}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombres</label>
                    </div>
                </div>

                <!--A ESTE SI LE PUSE EL ID-->
                <div id="apellido_editar_responsable" class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" name="apellidos_responsable" class="material-control tooltips-general" placeholder="Apellidos del Responsable" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe los apellidos del Responsable" value = "{{ responsable.3 }}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Apellidos</label>
                    </div>
                </div>
                  <!--A ESTE SI LE PUSE EL ID-->
                <div id="telefono_editar_responsable" class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="number" name="telefono_responsable" class="material-control tooltips-general" placeholder="Teléfono" title="Solo números" maxlength="9" value = "{{ responsable.4 }}">  
                        <span class = "bar"></span>
                        <label>Teléfono</label>
                    </div>
                </div>
                  <!--A ESTE SI LE PUSE EL ID-->
                <div id="direccion_editar_responsable" class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text"  name="direccion_responsable" class="material-control tooltips-general" placeholder="Dirección" title="Dirección del responsable a ingresar" value = "{{ responsable.5 }}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Dirección</label>
                    </div>
                </div>        
        
                <div class="col-xs-12">
                    <p class="text-center">  
                        <div id="guardar">
                            <button style="margin-left: 500px;" type="submit" id="guardar_editar_reponsables" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                        </div>                       
                    </p> 
                </div>

            </div> 
        </div>
    </div>
</form>
 <!-- PIE PÁGINA -->
 <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center all-tittles">Ayuda del sistema</h4>
            </div>
            <div class="modal-body">
                Si tiene algun problema al utilizar el sistema,póngase en contacto con los desarrolladores mediante nuestro correo electrónico Systems@gmail.com                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer full-reset">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h4 class="all-tittles">Acerca de</h4>
                    <p>
                        La curtiembre CURSPISCO es una empresa ubicada en la región Ica - Pisco, en la Av.Fermin Tanguis, especializada en curtido, adobo de cueros y teñido de pieles.                            </p>
                </div>
                
            </div>
        </div>
        <div class="footer-copyright full-reset all-tittles">2023 CURPISCO</div>
    </footer>
</div>
<!-- FIN PIE PÁGINA -->
