<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Salida</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="Shortcut Icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.jpeg') }}" />
    <script src="{{ url_for('static', filename='js/sweet-alert.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweet-alert.css') }}"> <!-- "{{ url_for('static', filename=' ... ') }}" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>  <!-- Scroll -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>   
</head>
<body>
<!-- BARRA LATERAL -->
<div class="navbar-lateral full-reset">
    <div class="visible-xs font-movile-menu mobile-menu-button"></div>
    <div class="full-reset container-menu-movile nav-lateral-scroll">
        <div></div>
        <div class="full-reset" style="padding: 20px 0; color:#fff;">
            <figure>
                <img src="{{ url_for('static', filename='/img/logo.jpeg') }}" alt="Logo" class="img-responsive center-box" id="loguito" style="width:55%;">
            </figure>
              
        </div>
        <div></div>
        <div class="full-reset nav-lateral-list-menu">
            <ul class="list-unstyled">
                <li><a href="{{ url_for('home') }}"><i><img src="{{ url_for('static', filename='img/home.png') }}"></i>&nbsp;&nbsp; Inicio</a></li>
                <li><a href="{{ url_for('registrar_repuesto') }}"><i><img src="{{ url_for('static', filename='img/agregaruser.png') }}"></i>&nbsp;&nbsp; Repuesto</a></li><li>
                <li><a href="{{ url_for('entrada_repuesto') }}"><i><img src="{{ url_for('static', filename='img/entradaR.png') }}"></i>&nbsp;&nbsp; Entrada</a></li><li>
                <li><a href="{{ url_for('salida_repuesto') }}"><i><img src="{{ url_for('static', filename='img/salidaR.png') }}"></i>&nbsp;&nbsp; Salida</a></li><li>
                <li><a href="{{ url_for('mostrar_inventario') }}"><i><img src="{{ url_for('static', filename='img/caja.png') }}"></i>&nbsp;&nbsp; Inventario</a></li>
                <li><a href="{{ url_for('registrar_proveedor') }}"><i><img src="{{ url_for('static', filename='img/edificio.png') }}"></i>&nbsp;&nbsp; Proveedores</a></li>
                <li><a href="{{ url_for('registrar_responsable') }}"><i><img src="{{ url_for('static', filename='img/responsable.png') }}"></i>&nbsp;&nbsp; Responsables</a></li>
                <li><a href="{{ url_for('logout') }}"><i><img src="{{ url_for('static', filename='img/exiti.png') }}"></i>&nbsp;&nbsp; Salir</a></li>
            </ul>
        </div>
    </div>
</div>  
<!-- FIN BARRA LATERAL -->
            <!-- PARTE DE ARRIBA -->
     <div class="content-page-container full-reset custom-scroll-containers"> 
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <figure>
                    <img src="{{ url_for('static', filename='/img/usuario.png') }}" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles">{{ current_user.fullname }}</span>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i><img src="{{ url_for('static', filename='/img/home.png') }}"></i>
                </li>
                <li class="desktop-menu-button hidden-xs" style="float: left !important;">
                    <i><img src="{{ url_for('static', filename='/img/menu.png') }}"></i>
                </li>
            </ul>
        </nav>
    <!-- FIN PARTE DE ARRIBA -->  

    <!-- PESTAÑAS -->
<div class="container">
    <div class="page-header">
        <h1 class="all-tittles">Sistema de Control <small>/ Mostrar Salida</small></h1>
    </div>
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
        <li role="presentation" ><a href="{{ url_for('mostrar_inventario') }}">Inventario</a></li>
        <li role="presentation" id="pestaña_mostrar"><a href="{{ url_for('mostrar_entrada') }}">Mostrar Entrada</a></li>
        <li role="presentation" id="segunda_pestaña_mostrar" class="active"><a href="{{ url_for('mostrar_salida') }}">Mostrar Salida</a></li>
    </ul>
</div>
    <!-- FIN PESTAÑAS -->

<!-- CENTRO DE LA PÁGINA --> 

        <div class="container-fluid">
            <div class="container-flat-form">
                <div class="title-flat-form title-flat-blue"> MOSTRAR SALIDA</div>
                    <form action="{{ url_for('buscar_salida') }}" method="post" class="form-padding">
                        <div class="row">
                            <div class="col-xs-12">
                                <legend class="datos"><i><img src="{{ url_for('static', filename='/img/datos.png') }}"></i> &nbsp; Datos</legend><br>
                            </div>
                                <div id="codigo_salida"class="col-xs-12 col-sm-6">
                                    <div class="group-material">
                                        <input type="text" id="codigo_repuesto" class="material-control tooltips-general" placeholder="Código del Repuesto" required="" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="4" data-toggle="tooltip" data-placement="top" title="Máximo 4 caracteres">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Código</label>
                                    </div>
                                </div>
                                
                                <div id="fecha_salida" class="col-xs-12 col-sm-6">
                                    <div class="group-material">
                                        <input type="date" id="fecha_salidaa" name="fecha_salida_repuesto" class="material-control tooltips-general" placeholder="fecha"
                                            required="" pattern="[0-9]{1,6}" maxlength="6" data-toggle="tooltip" data-placement="top"
                                            title="Ingresar fecha">
                                        <span class="highlight"></span>
                                        <span style="margin-top: 100px; width: 200px; margin-left: -20px;" class="bar"></span>
                                        <label style="margin-left: -20px;">Fecha</label>
                                    </div>
                                </div>

                                <div class="cont1">
                                    <div class="cont2">
                                        <img src="{{ url_for('static', filename='img/lupa.png') }}">
                                    </div>
                                </div>

                            </div>    

                            <button id="limpiarFiltro"> <img src="{{ url_for('static', filename='img/limpiar.png') }}"></button>
                                
                                    <div class="main-container">
                                        <table id="tabla_salida" class="tabla">
                                            <thead>
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Repuesto</th>
                                                    <th>Cantidad</th>
                                                    <th>Responsable</th>
                                                    <th>Fecha</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                {% for repuesto in repuestos %}
                                                    <tr>
                                                        <td>{{ repuesto.1 }}</td>
                                                        <td>{{ repuesto.2 }}</td>
                                                        <td>{{ repuesto.3 }}</td>
                                                        <td>{{ repuesto.4 }}</td>
                                                        <td>{{ repuesto.5 }}</td>
                                                        <td>
                                                            <a href="{{ url_for('edit_salida', id=repuesto.0) }}" id="btn-editar" class="btn btn-secondary"><img src="{{ url_for('static', filename='img/lapiz.png') }}"></a>
                                                            <a href="{{ url_for('delete_salida', id=repuesto.0) }}" class="btn btn-danger btn-delete"> <img src="{{ url_for('static', filename='img/basura.png') }}"></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            </table>

                                        <div class="botoncitos">
                                            <div class="col-xs-12">
                                                <p class="text-center">
                                                    <a id="btn-generar"><img src="{{ url_for('static', filename='img/pdf.png') }}"> <input class="btn btn-generar-pdf" style="color: white;" type="submit"  value="PDF" onclick="generarPDF(event)" ></a>
                                                    <a id="btn-generar"><img src="{{ url_for('static', filename='img/excel.png') }}"><input class="btn btn-generar-excel" type="button" value="EXCEL" style="color: white;" onclick="descargarExcel()"></a>
                                                </p> 
                                        </div>
                                        </div>

                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <script>
                                        var buscar_salidaURL = "/buscar_salida";
                                        var limpiar_filtroSURL = "/limpiar_filtroS";
                                        var generar_excelSURL = "/generar_excelS";
                                    </script>

                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>                
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.17/jspdf.plugin.autotable.min.js"></script>
                                        <script src="{{ url_for('static', filename='js/salidaGenerarPDF.js') }}"></script>

                                        
                                    </div>
                                </div>
                                
                            </div>
            
                            
                        </div>
                            
                        
                    </div>
                    
                </form>
               
            </div>
            
        </div>
    

        <!-- PIE PÁGINA -->
        <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center all-tittles">Ayuda del sistema</h4>
                    </div>
                    <div class="modal-body">
                        Si tiene algun problema al utilizar el sistema,póngase en contacto con los desarrolladores mediante
                        nuestro correo electrónico Systems@gmail.com </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i>
                            &nbsp; De acuerdo</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer full-reset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="all-tittles">Acerca de</h4>
                        <p>
                            La curtiembre CURSPISCO es una empresa ubicada en la región Ica - Pisco, en la Av.Fermin Tanguis,
                            especializada en curtido, adobo de cueros y teñido de pieles. </p>
                    </div>
        
                </div>
            </div>
            <div class="footer-copyright full-reset all-tittles">2023 CURPISCO</div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>

        <script>
            $(document).ready(function() {
                var csrftoken = getCookie('csrftoken'); 
                $('#codigo_repuesto').on('keydown', function(event) {
                    if (event.keyCode === 13) { 
                        event.preventDefault();
        
                        var codigo_repuesto = $(this).val();
                        var fecha_salida = $('#fecha_salidaa').val();
                        buscar_salida({ codigo_repuesto: codigo_repuesto, fecha_salida: fecha_salida });
                    }
                });
        
                $('#fecha_salidaa').on('change', function() {
                    var fecha_salida = $(this).val();
                    var codigo_repuesto = $('#codigo_repuesto').val();
                    buscar_salida({ codigo_repuesto: codigo_repuesto, fecha_salida: fecha_salida });
                });
        
                function buscar_salida(params) {
                    $.ajax({
                        url: buscar_salidaURL,
                        method: 'POST',
                        data: params,
                        success: function(response) {
                            var repuestos = response.repuesto_salida;
                            var tableRows = '';
                            for (var i = 0; i < repuestos.length; i++) {
                                var repuesto = repuestos[i];        
                                var fecha = new Date(repuesto[5]);

                                fecha.setMinutes(fecha.getMinutes() + fecha.getTimezoneOffset());
        
                                var year = fecha.getFullYear();
                                var month = ('0' + (fecha.getMonth() + 1)).slice(-2);
                                var day = ('0' + fecha.getDate()).slice(-2);
                                var fechaFormateada = year + '-' + month + '-' + day;
        
                                var row = `
                                    <tr>
                                        <td>${repuesto[1]}</td>
                                        <td>${repuesto[2]}</td>
                                        <td>${repuesto[3]}</td>
                                        <td>${repuesto[4]}</td>
                                        <td>${fechaFormateada}</td>
                                        <td>
                                            <a href="/edit_salida/${repuesto[0]}" class="btn btn-secondary">Editar</a>
                                            <a href="/delete_salida/${repuesto[0]}" class="btn btn-danger btn-delete">Eliminar</a>
                                        </td>
                                    </tr>
                                `;
                                tableRows += row;
                            }
                            $('#tabla_salida tbody').html(tableRows);
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            });
        </script>

<script>
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken'); 
        $('#limpiarFiltro').on('click', function(event) {
            event.preventDefault(); 

            $('#codigo_repuesto').val('');
            $('#fecha_salidaa').val('');

            buscar_salida({ codigo_repuesto: '', fecha_salida: '' });
        });

        // Función para realizar la búsqueda
        function buscar_salida(filtros) {
            filtros.csrfmiddlewaretoken = 'csrftoken';
            $.ajax({
                url: limpiar_filtroSURL,
                method: 'GET',
                data: filtros,
                success: function(response) {
                    var repuestos = response.repuesto;
                    var tableRows = '';

                    for (var i = 0; i < repuestos.length; i++) {
                        var repuesto = repuestos[i];
                        
                        var fecha = new Date(repuesto[5]);

                        fecha.setMinutes(fecha.getMinutes() + fecha.getTimezoneOffset());
        
                        var year = fecha.getFullYear();
                        var month = ('0' + (fecha.getMonth() + 1)).slice(-2);
                        var day = ('0' + fecha.getDate()).slice(-2);
                        var fechaFormateada = year + '-' + month + '-' + day;

                        var row = `
                            <tr>
                                <td>${repuesto[1]}</td>
                                <td>${repuesto[2]}</td>
                                <td>${repuesto[3]}</td>
                                <td>${repuesto[4]}</td>
                                <td>${fechaFormateada}</td>
                                <td>
                                    <a href="/edit_salida/${repuesto[0]}" class="btn btn-secondary">Editar</a>
                                    <a href="/delete_salida/${repuesto[0]}" class="btn btn-danger btn-delete">Eliminar</a>
                                </td>
                            </tr>
                        `;
                        tableRows += row;
                    }

                    $('#tabla_salida tbody').html(tableRows);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    });
</script>

<script>
    const btnDelete = document.getElementsByClassName('btn-delete');
    if (btnDelete) {
    const btnArray = Array.from(btnDelete);
    btnArray.forEach((btn) => {
        btn.addEventListener('click', (e) => {
        if (!confirm('¿Estás seguro de querer eliminarlo?')) {
            e.preventDefault();
        }
        });
    });
    }
</script>   

<script>
    function descargarExcel() {
        var csrftoken = getCookie('csrftoken'); 
        
        $.ajax({
        url: generar_excelSURL,
        type: 'POST',
        xhrFields: {
        responseType: 'blob' 
        },
        data: { 
            csrfmiddlewaretoken: csrftoken 
        },
        success: function(data) {
        var url = window.URL.createObjectURL(data);
        
        var link = document.createElement('a');
        link.href = url;
        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const day = String(currentDate.getDate()).padStart(2, '0');

        const nombreArchivo = "lista-salidas-repuestos";

        const nombreArchivoConFecha = `${nombreArchivo}_${year}-${month}-${day}.xlsx`;

        link.download = nombreArchivoConFecha; 
        link.click();
        
        window.URL.revokeObjectURL(url);
        }
    });
}
</script>

</body>
</html>